# unecessary files for docker build
NOTE.md
README.md
api-test.http
img/
.idea/

# used only for local development
rust-toolchain.toml
Makefile.toml
compose.yml
.cargo/
infra/
docker/
frontend/
target/